.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-left: -200px;
  margin-top: -200px;
  background: #ff7070;
  border-radius: 3px;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.3); }

.container-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  transform: translate(-50%, -50%); }
  .circle .outer-circle {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
    animation: outer-circle-grow 8s cubic-bezier(0.41, 0.04, 0.51, 0.84) infinite; }
    .circle .outer-circle .middle-circle {
      position: relative;
      z-index: 5;
      top: 15%;
      left: 15%;
      width: 70%;
      height: 70%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2);
      animation: middle-circle-grow 8s cubic-bezier(0.41, 0.04, 0.51, 0.84) infinite; }
      .circle .outer-circle .middle-circle .inner-circle {
        position: relative;
        z-index: 7;
        top: 35%;
        left: 35%;
        width: 30px;
        height: 30px;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2);
        animation: inner-circle-grow 8s cubic-bezier(0.41, 0.04, 0.51, 0.84) infinite; }

@keyframes outer-circle-grow {
  0% {
    transform: scale(0); }
  50% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }

@keyframes middle-circle-grow {
  0% {
    transform: scale(0); }
  25% {
    transform: scale(0); }
  50% {
    transform: scale(1); }
  75% {
    transform: scale(0); }
  100% {
    transform: scale(0); } }

@keyframes inner-circle-grow {
  0% {
    transform: scale(0); }
  33% {
    transform: scale(0); }
  50% {
    transform: scale(1); }
  66% {
    transform: scale(0); }
  100% {
    transform: scale(0); } }
